<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Add New Proverb </title>
  <link rel="stylesheet" href="/styles/main.css" />
</head>
<body>
  <%- include ('partials/header') %>
  <%- include ('partials/navbar') %>
  
  <div class="content-box">
        <h1 style="text-align:center;">Add New Proverb</h1><hr>

    <% if (error) { %>
        <p style="color:red"><%= error %></p>
    <% } %>

    <form action="/form" method="post">
        <label> Dari Text:<br/>
            <input type="text" name="dari" required />
        </label><br/>

        <label>Pashto Text :<br/>
            <input type="text" name="pashto" required />
        </label><br/>

        <label>English Translation :<br/>
            <input type="text" name="english" required />
        </label><br/>

        <label>Meaning:<br/>
            <textarea name="meaning" required></textarea>
        </label><br/>

        <label>Category:<br/>
            <input type="text" name="category" required />
        </label><br/>
  </div>
  <div class="button-container "> 
        <button type="submit" class="button">Save </button>
    </form> 
    <a href="/" class="button"> Homepage </a> </div>
</body>
</html>