<nav style="background-color: #3c29ac; color: white; padding: 0.5rem; display: flex; gap: 10px; direction: ltr;">
  <a href="/" style="color: white; text-align: left;">Homepage</a>
  <a href="/random" style="color: white; text-align: left;"> Random Proverb</a>
  <a href="/form" style="color: white; text-align: left;"> Add Proverb</a>
  <a href="/search" style="color: white; text-align: left;" id="openSearchModal"> Search Proverb By ID</a>
  <a href="/" style="color: white; text-align: left;"> Search Proverb by Category</a>
</nav>
